NODE_ENV=development
PORT=3000
CORS_ORIGIN=http://localhost:5173
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/silab_bd?schema=public
JWT_ACCESS_SECRET=change_me_access
JWT_REFRESH_SECRET=change_me_refresh
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
ADMIN_EMAIL=admin@silabfci.local
ADMIN_PASSWORD=Admin12345*
ADMIN_DOCUMENT=0000000000
ADMIN_NAME=Administrador SILAB FCI
