NODE_ENV=production
PORT=3000
CORS_ORIGIN=http://localhost
DATABASE_URL=postgresql://siilab_prod_user:PASSWORD_PRODUCCION@siilab_postgres:5432/siilab_fci_prod?schema=public
JWT_ACCESS_SECRET=CAMBIAR_SECRET_ACCESS_LARGO
JWT_REFRESH_SECRET=CAMBIAR_SECRET_REFRESH_LARGO
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
RATE_LIMIT_WINDOW_MS=60000
RATE_LIMIT_MAX=120
AUTH_RATE_LIMIT_MAX=10
COOKIE_SAME_SITE=strict
ADMIN_EMAIL=admin@silabfci.local
ADMIN_PASSWORD=CAMBIAR_PASSWORD_ADMIN
ADMIN_DOCUMENT=0000000000
ADMIN_NAME=Administrador SILAB FCI
